$appBackground : #EFD8BD;

$navBackground : #283E57;
$navigationFont : #CEB7A3;

$sideBarBackground : #283E57;
$sideBarFont : #CEB7A3;

$modalBackground : #038095;


$openReleaseTitle : #038095;
$openTitleFont : #F7F5F5;
$dateOpenRelease : #595959;
$OpenReleaseFont : #F7F5F5;
$openReleaseBackground : #F7F5F5;

$closedReleaseTitle : #038095;
$closedTitleFont : #F7F5F5;
$dateClosedRelease : #F7F5F5;
$closedReleaseFont : #F7F5F5;
$closedReleaseBackground : #595959;


$accordionFont : #EFD8BD;
$stageTitle : #038095;
$stageTitleHover : #283E57;
$issueBackground : #152434;
$issueFont : #F7F5F5;

$overlayBackground : rgb(244,242,241,0.50);




